<h3>Edit a new listing</h3>
<%= form_for [@category, @article] do |f| %>
  <%= f.text_field :name, placeholder: "@article.name"%>
  <%= f.text_area :description, placeholder: "@article.description" %>
  <%= f.number_field :price, placeholder: "@article.price" %>
  <%= f.submit %>
<% end %>

<% if flash[:alert] %>
  <%= flash[:alert] %>
<% end %>

<%= link_to "Delete listing", [@category, @article], method: :delete, data: {confirm: "Are you sure?"} %>
