<% if flash[:unique_url] %>
  Your unique editing code is:
  <%= flash.unique_url %>
<% end %>

<h3><%= @article.name %></h3>

Description: <%= @article.description %><br>
Price: $<%= @article.price %>

<%= link_to "Edit listing", edit_category_article_path(@category, @article)%>
